* {
  font-family: 'Magra', sans-serif;
}

.App {
  text-align: center;
  background-image: url('./images/depositphotos_81460466-stock-illustration-celebration-and-party-hand-drawn.jpeg');
  flex:content;
  place-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  padding: 0 15% 0 15%;

}